[Desktop Entry]
Name=Perif
Comment=Control your peripherals
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=peripheral;peripheral;battery;control;
Exec=perif
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=net.olback.Perif
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
